{% extends 'Owner/Header.html' %}
{% block content %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body><form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <table border="1">
        <tr>
            <th>Location</th>
            <td><textarea rows="4" cols="20" name="rentproperty_location"></textarea></td>
        </tr>
        <tr>
            <th>Type</th>
            <td><textarea rows="4" cols="20" name="rentproperty_type"></textarea></td>
        </tr>
        <tr>
            <th>Rental Type</th>
            <td><textarea rows="4" cols="20" name="rentproperty_rentaltype"></textarea></td>
        </tr>
        <tr>
            <th>Price</th>
            <td><input type="text" name="rentproperty_price"  ></td>
        </tr>
        <tr>
            <th>Photo</th>
            <td><input type="file" name="file_photo"/></td>
        </tr>
        <tr>
        <th>Category</th>
            <td><select name="sel_category" id="sel_category">
                <option>---select----</option>
                {% for i in cat %}
                <option value="{{i.id}}">{{i.category_name}}</option>
                {%endfor%}
            </select></td>
        </tr>
        <tr>
            <th>district</th>
            <td><select name="sel_district" id="sel_district">
                <option>---select----</option>
                {% for i in dist %}
                    <option value="{{i.id}}">{{i.district_name}}</option>
                {% endfor %}
            </select></td>
        </tr>
        <tr>
            <th>place</th>
           <td><select name="sel_place" id="sel_place">
                <option value="">---select----</option>
            </select></td> 
        </tr>
        <tr>
            <td colspan="2" align="center"><input type="submit" value="Register"></td>
        </tr>
    </table>
    <br>
    <table border="1">
        <tr>
            <td>SL NO</td>
            <td>Location</td>
            <td>Type</td>
            <td>Rental Type</td>
            <td>Price</td>
            <td>Photo</td>
            <td>Place</td>
            <td>Category</td>
        </tr>
    {% for i in result %}
        <tr>
            <td> {{forloop.counter}}</td>
            <td> {{i.rentproperty_location}}</td>
            <td> {{i.rentproperty_type}}</td>
            <td> {{i.rentproperty_rentaltype}}</td>
            <td> {{i.rentproperty_price}}</td>
            <td> <img src="{{i.rentproperty_photo.url}}" alt="" width="100px"></td>
            <td> {{i.place.place_name}}</td>
            <td> {{i.category.category_name}}</td>
    {%endfor%}
</body>
</html>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
    $("#sel_district").change(function () {
        var did = $(this).val();
        var ur = "{% url 'Guest:Ajaxplace' %}"
        $.ajax({
            url: ur,
            data: { did: did, },
            success: function (data) {
                $("#sel_place").html(data);
            },
        });
    });
</script>


{% endblock %}
