{% extends 'Owner/Header.html' %}
{% block content %}


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <table border="1">
            <tr>
                <td>SL NO</td>
                <td>Location</td>
                <td>Amount</td>
                <td>From Date</td>
                <td>To Date</td>
                <td>Photo</td>
                <td>Place</td>
                <td>Category</td>
                <td>User</td>
                <td>Action</td>
            </tr>
            {% for i in book %}
            <tr>
                <td> {{forloop.counter}}</td>
                <td> {{i.rentproperty.rentproperty_location}}</td>
                <td> {{i.rentproperty.rentproperty_type}}</td>
                <td> {{i.rentbooking_fdate}}</td>
                <td> {{i.rentbooking_tdate}}</td>
                <td> <img src="{{i.rentproperty.rentproperty_photo.url}}" alt="" width="100px"></td>
                <td> {{i.rentproperty.place.place_name}}</td>
                <td> {{i.rentproperty.category.category_name}}</td>
                <td>
                    {{i.user.user_name}} <br>
                    {{i.user.user_email}}<br>
                    {{i.user.user_contact}}<br>
                </td>
                <td>{% if i.rentbooking_status == 0 %}
                    <a href="{% url 'Owner:rentverification' i.id 1 %}">Accept</a>
                    <a href="{% url 'Owner:rentverification' i.id 2 %}">Reject</a>
                    {% elif i.rentbooking_status == 1 %}
                    Accepted
                    <a href="{% url 'Owner:chatpage' i.user.id %}">Chat</a>
                    {% elif i.rentbooking_status == 2 %}
                    Rejected
                    {% endif %}
                </td>
                {%endfor%}
</body>

</html>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
    $("#sel_district").change(function () {
        var did = $(this).val();
        var ur = "{% url 'Guest:Ajaxplace' %}"
        $.ajax({
            url: ur,
            data: { did: did, },
            success: function (data) {
                $("#sel_place").html(data);
            },
        });
    });
</script>

{% endblock %}
